@tailwind base;
@tailwind components;
@tailwind utilities;



/* width */
body::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

/* Track */
body::-webkit-scrollbar-track {
  background:black;
  cursor: pointer;
} 

/* Handle */
body::-webkit-scrollbar-thumb {
  background:rgb(216, 145, 13);
  height: 10px;
  cursor: pointer;
}
/* .wave{
  animation: wave 2s linear infinite;
  
}
@keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
} */

.moving-image {
  animation: moveUpDown 1s linear infinite alternate; /* Use the moveUpDown animation */
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0); /* Start at the original position */
  }
  100% {
    transform: translateY(20px); /* Move 20 pixels down */
  }
}

